# Игнорировать папки с зависимостями в любом месте проекта
**/node_modules

# Папки сборки
/client/my-app/build
/client/my-app/dist

# Лог-файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Файлы переменных окружения (очень важно!)
.env
.env.*
!/.env.example

# Системные файлы
.DS_Store
*.dump